
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>Isim</th>
        <th>Soyisim</th>
    </tr>
    <tr>
        <td>İlker</td>
        <td>BallıKaya</td>
    </tr>
</table>

